name: Docker Image CI

on:
  push:
    branches: ["master"]

jobs:
  build_push_docker_image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Get version from Cargo.toml
        id: version
        run: echo "VERSION=$(grep '^version' Cargo.toml | head -1 | sed 's/.*"\(.*\)"/\1/')" >> "$GITHUB_OUTPUT"
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: |
          docker build . --file Dockerfile \
            --tag nicekloki/tldr-line-verifier:latest \
            --tag nicekloki/tldr-line-verifier:${{ steps.version.outputs.VERSION }}
      - run: docker push nicekloki/tldr-line-verifier --all-tags
