name: Docker Image CI

on:
  push:
    branches: ["master"]

jobs:
  build_push_docker_image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: docker build . --file Dockerfile --tag nicekloki/tldr-line-verifier
      - run: docker push nicekloki/tldr-line-verifier
