name: Test

env:
  CARGO_TERM_COLOR: always

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: lint
        run: cargo fmt --check
      - name: unit test
        run: cargo test
      - name: Run on itself
        run: cargo run ./
